{% macro svgIcon(iconName, clickable=false) %}
  <svg fill="currentColor" class="icon" {{ "clickable" if clickable else "" }}>
    <use href="/img/{{ iconName }}.svg#root"></use>
  </svg>
{% endmacro %}

{% macro wip() %}
  <div class="wip-banner">🚧  WIP  🚧</div>
{% endmacro %}
