{% macro svgIcon(iconName, clickable=false) %}
  <svg fill="currentColor" class="icon" {{ "clickable" if clickable else "" }}>
    <use href="/img/{{ iconName }}.svg#root"></use>
  </svg>
{% endmacro %}

# parents = [[url0, title0], ..., [urlN, titleN]]
{% macro breadcrumb(parents, current_title) %}
  <nav aria-label="Breadcrumb" class="breadcrumb">
    <ol>
      {% for p in parents %}
        <li><a href="{{ p[0] }}">{{ p[1] }}</a></li>
      {% endfor %}
      <li><span aria-current="page">{{ current_title }}</span></li>
    </ol>
  </nav>
{% endmacro %}
