{% from "fragments.njk" import svgIcon %}
<header>
  <div class="header-container">
    <a class="header-logo" href="/" title="Go to {{ env.siteShortUrl }}">
      <span>Sollumz</span>
    </a>

    <div class="header-push"></div>

    <!-- hamburger menu for mobile -->
    <input class="header-hamb-cb" type="checkbox" id="header-hamb-cb"/>
    <label class="header-hamb" for="header-hamb-cb">
      <span class="header-hamb-line"></span>
    </label>

    <nav class="header-nav">
      <ul class="header-nav-menu">
        <li>
          <a
          {% if (r/^\/releases\//).test(page.url) %}
            class="header-current"
          {% endif %}
            href="/releases" title="Releases">
            <span>Releases</span>
          </a>
        </li>

        <li>
          <a class="" href="{{ env.wikiUrl }}" title="Wiki">
            {{ svgIcon("gitbook") }}
            <span>Wiki</span>
          </a>
        </li>

        <li>
          <a class="header-icon" href="{{ env.discordUrl }}" title="Join our Discord">
            {{ svgIcon("discord") }}
            <span class="hide-on-desktop">Join our Discord</span>
          </a>
        </li>

        <li>
          <a class="header-icon" href="{{ env.githubUrl }}" title="GitHub">
            {{ svgIcon("github") }}
            <span class="hide-on-desktop">GitHub</span>
          </a>
        </li>


        <li>
          <button id="theme-switcher" class="header-icon" title="Toggle Theme">
            {{ svgIcon("theme-switcher") }}
            <span class="hide-on-desktop">Toggle Theme</span>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
