{% from "fragments.njk" import breadcrumb %}
{% extends 'default.html' %}

{% block head %}
<link rel="stylesheet" href="/css/release.css">
<link rel="stylesheet" href="/css/syntax-highlighting.css">

<meta property="og:site_name" content="Sollumz">
<meta property="og:title" content="Sollumz {{ title }}" />
<meta property="og:description" content="Released on {{ date | readableDate }}" />
<meta property="og:image" itemprop="image" content="{{ env.siteUrl }}/img/logo.png">
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ env.siteUrl }}{{ page.url }}" />

{% endblock %}


{% block main %}
{{ breadcrumb([["/releases", "Releases"]], title) }}
<article class="release">
    <div class="row-baseline">
      <h1>Sollumz {{ title }}</h1>
      <time class="" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
    </div>
    <a class="primary-button" href="{{ release.downloadUrl }}">Download</a>
    <div class="release-content">
    {{ content | safe }}
    </div>
    <a class="primary-button" href="{{ release.downloadUrl }}">Download</a>
</article>
{% endblock %}
