--
title: Home
---
{% from "fragments.njk" import wip %}
{% extends 'default.html' %}

{% block head %}
    <link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block main %}
{% if env.isProduction %}
    {{ wip() }}
{% else %}
<section id="about">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam doloremque eos exercitationem inventore, libero molestiae mollitia quae. Animi deleniti eveniet fuga non, odio optio, quam recusandae saepe similique, sunt vero?
</section>
<div id="content">

  {% set latestReleasePage = (collections.releases | reverse)[0] %}
  {% set latestRelease = latestReleasePage.data.release %}
  <section id="latest-release">
    <a href="{{ latestRelease.download_url }}">Download Sollumz {{ latestRelease.version }}</a>
    <a href="{{ latestReleasePage.url }}">What's New</a>
  </section>


</div>
{% endif %}
{% endblock %}
