---
title: Releases
---
{% extends 'default.html' %}

{% block head %}
    <link rel="stylesheet" href="/css/releases.css">
{% endblock %}

{% block main %}
<h1>Releases</h1>

  {% if collections.releases | length > 0 %}
  <section id="releases">
    <!-- <ul> -->
    <!--   <li><a href="{{ releasePage.url }}">{{ releasePage.page.title }}</a></li> -->
    <!-- </ul> -->
    <table id="releases-table">
    {% for releasePage in collections.releases | reverse %}
      {% set release = releasePage.data.release %}
      {% set releaseDate = releasePage.page.date %}
      <tr class="release-row">
        <td class="release-col release-col-version">
          <a href="{{ releasePage.url }}">Sollumz {{ releasePage.page.title }}</a>
        </td>
        <td class="release-col release-col-date">
          <time class="" datetime="{{ releaseDate | htmlDateString }}">{{ releaseDate | readableDate }}</time>
        </td>
        <td class="release-col release-col-download">
          <a
          {% if loop.index0 == 0 %}
            class="primary-button"
          {% else %}
            class="secondary-button"
          {% endif %}
            href="{{ release.downloadUrl }}">Download</a>
        </td>
      </tr>
    {% endfor %}
    </table>
  </section>
  {% endif %}

{% endblock %}
