header {
    position: sticky;
    top: 0;
    background-color: var(--theme-background-alt);

    --header-shadow: 0 2px var(--theme-accent);
    box-shadow: var(--header-shadow);

    --header-height: 2.5rem;
}

.header-container {
    display: flex;
    align-items: center;
    height: var(--header-height);
    margin: auto;
    padding-inline: 1rem;
    max-width: var(--content-max-width);
}

.header-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: filter .1s ease-out;
}

.header-logo:hover {
    filter: brightness(1.15);
}

.header-logo > span {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: var(--default-font-family);
    color: var(--theme-text);
}

.header-logo::before {
    content: "";
    display: inline-block;
    background-image: url("/img/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 32px;
    aspect-ratio: 1;
}

.header-push {
    margin-left: auto;
}

.header-nav {
    width: 100%;
    position: fixed;
    top: var(--header-height);
    margin-inline: -1rem;
    background-color: var(--theme-background-alt);
    overflow: hidden;

    max-height: 0;
    transition: max-height .2s ease-out;

    box-shadow: var(--header-shadow);
}

.header-nav-menu {
  margin: 0;
  padding: 0;
}

.header-nav-menu li {
  list-style: none;
  margin: auto;
  padding: 0;
}

.header-nav-menu a,
.header-nav-menu button {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
    padding: 20px;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--default-font-family);
    color: var(--theme-text);
}

.header-nav-menu a:not(.header-current):hover,
.header-nav-menu button:not(.header-current):hover {
    color: var(--theme-accent);
}

/* .header-nav-menu a:hover > span, */
/* .header-nav-menu button:hover > span { */
/* } */

.header-nav-menu a:not(.header-current):hover > svg,
.header-nav-menu button:not(.header-current):hover > svg {
    color: var(--theme-accent)
}


.header-nav-menu a.header-current {
    font-weight: 550;
    position: relative;
}

.header-nav-menu a.header-current::after {
    content: "";
    position: absolute;
    border-left: 4px solid var(--theme-text);
    width: 100%;
    height: 100%;
    left: 0;
}

.header-hamb {
    cursor: pointer;
    float: right;
    margin-block: auto;
    padding-block: 1rem;
    padding-inline: 1rem;
    margin-inline: -1rem;
}/* Style label tag */

.header-hamb-line {
    background: var(--theme-text);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.header-hamb-line::before,
.header-hamb-line::after {
    background: var(--theme-text);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: transform .1s ease-out, top .1s ease-out;
    width: 100%;
}

.header-hamb-line::before {
    top: 5px;
}

.header-hamb-line::after {
    top: -5px;
}

.header-hamb-cb {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.header-hamb-cb:checked ~ .header-nav {
    max-height: 100%;
}
.header-hamb-cb:checked ~ .header-hamb .header-hamb-line {
    background: transparent;
}
.header-hamb-cb:checked ~ .header-hamb .header-hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.header-hamb-cb:checked ~ .header-hamb .header-hamb-line::after {
    transform: rotate(45deg);
    top:0;
}


/* Responsiveness */
@media (min-width: 768px) {
    .header-nav {
        max-height: none;
        position: static;
        width: fit-content;
        background-color: transparent;
        margin-block: auto;
        margin-inline: 0;
        box-shadow: none;
    }

    .header-nav-menu {
        display: flex;
        gap: 2em;
    }

    .header-nav-menu li {
        float: left;
    }

    .header-nav-menu a,
    .header-nav-menu button {
        padding: 0;
        /* height: var(--header-height); */
        /* padding-block: 0.5rem; */
        /* margin-block: -0.5rem; */
        /* padding-inline: 1rem; */
        /* margin-inline: -1rem; */
    }

    .header-nav-menu a:hover,
    .header-nav-menu button:hover {
        /* background-color: transparent; */
    }

    .header-nav-menu a.header-current {
        font-weight: 550;
        position: relative;
    }

    .header-nav-menu a.header-current::after {
        border-left: none;
        border-bottom: 2px solid var(--theme-text);
    }

    .header-nav-menu a > span.hide-on-desktop,
    .header-nav-menu button > span.hide-on-desktop {
        display: none;
    }

    .header-hamb {
        display: none;
    }
}
