@import url('./header.css');

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1 {
    font-size: 2.0rem;
    margin-bottom: 0.25em;
}

h1 > a {
    color: var(--theme-text);
    text-decoration: none;
}

h1 > a:hover {
    text-decoration: underline;
}

#latest-release {
    margin-inline: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
