@import url('./header.css');

.release h1 {
    font-size: 2rem;
    margin-block: 0.25rem 1rem;
}

.release time {
    display: block;
    color: var(--theme-text-subtle);
    font-size: 1.1667rem;
}

.release img {
    display: inline-block;
    width: 100%;
}

/* add line separator between sections */
.release-content::after {
    content: "";
    display: block;
    margin-block: 1.25rem;
    margin-inline: auto;
    width: 85%;
    border-radius: 2px;
    border-top: 1px solid rgba(var(--theme-text-subtle-rgb), 0.25);
    border-bottom: 1px solid rgba(var(--theme-text-subtle-rgb), 0.25);
}

